<div class="footer">
    <div class="icons">
        <nav>
            <a href="/">
                <button>
                    <box-icon name='home-alt' color="#fff"></box-icon>
                </button>
            </a>
        </nav>
    </div>
    <div class="icons">
        <nav>
            <a href="/coffee">
                <button>
                    <box-icon name='coffee-togo' color="#fff"></box-icon>
                </button>
            </a>
        </nav>
    </div>
    <div class="icons">
        <nav>
            <a href="mailto:connect@thintry.com">
                <button>
                    <box-icon name='message-square-dots' color="#fff"></box-icon>
                </button>
            </a>
        </nav>
    </div>
</div>