<div class="header">
    <div class="left">
        <a href="/">
            <img src="/img/banner.png" alt="Twitio" title="Twitio" class="logo">
        </a>
    </div>
    <div class="right">
        <nav>
            <a href="/">
                <button>
                    <box-icon name='home-alt' color="#fff"></box-icon>
                </button>
            </a>
            <a href="/coffee">
                <button>
                    <box-icon name='coffee-togo' color="#fff"></box-icon>
                </button>
            </a>
            <a href="mailto:connect@thintry.com">
                <button>
                    <box-icon name='message-square-dots' color="#fff"></box-icon>
                </button>
            </a>
        </nav>
    </div>
</div>