<div class="header">
    <div class="left">
        <button class="menu">
            <box-icon name='menu'></box-icon>
        </button>
    </div>
    <div class="right">
        <a href="/">
          <img src="/img/banner.png" alt="Twitio" title="Twitio" class="logo">
        </a>
    </div>
</div>