<div class="container">
    <div class="buttons">
        <div class="button">
            <a href="/youtube">
                <button>
                    <box-icon type='solid' name='chevron-down'></box-icon><box-icon name='plus' size="xs"></box-icon><box-icon name='youtube' type='logo' animation='tada' ></box-icon>
                </button>
            </a>
        </div>
        <div class="button spt">
            <a href="/spotify">
                <button>
                    <box-icon type='solid' name='chevron-down'></box-icon><box-icon name='plus' size="xs"></box-icon><box-icon name='spotify' type='logo' animation='tada' ></box-icon>
                </button>
            </a>
        </div>
    </div>
</div>