<div class="container">
    <div class="buttons">
        <div class="button">
            <a href="/youtube">
                <button>
                    <box-icon type='solid' name='chevron-down'></box-icon><box-icon name='plus'
                        size="xs"></box-icon><box-icon name='youtube' type='logo' animation='tada'></box-icon>
                </button>
            </a>
        </div>
        <div class="button spt">
            <a href="/spotify">
                <button>
                    <box-icon type='solid' name='chevron-down'></box-icon><box-icon name='plus'
                        size="xs"></box-icon><box-icon name='spotify' type='logo' animation='tada'></box-icon>
                </button>
            </a>
        </div>
        <div class="ad">
            <script type="text/javascript">
                atOptions = {
                    'key': 'fd28175d9564177e8d8f8ddd8ee188ae',
                    'format': 'iframe',
                    'height': 50,
                    'width': 320,
                    'params': {}
                };
                document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://acrepantherrecite.com/fd28175d9564177e8d8f8ddd8ee188ae/invoke.js"></scr' + 'ipt>');
            </script>
        </div>
    </div>
</div>