<div class="container">
    <div class="download">
        <form action="/download/spotify" method="post">
          <input type="text" name="url" placeholder="Spotify Song Url">
          <button type="submit">
            <box-icon name='chevron-down' type='solid' ></box-icon>
          </button>
        </form>
    </div>
</div>